# Compiled files, Logs, and Crash reports (From both local and remote)
*.class
*.log
hs_err_pid*
replay_pid*

# Package Files (From remote)
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# BlueJ and J2ME (From remote)
*.ctxt
.mtj.tmp/

# === IDE Specific Files ===

### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
.kotlin

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store